* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(235, 24%, 19%);
  display: flex;
  justify-content: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
  z-index: -1;
}
.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 30px;
  margin-top: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 10px;
}

.new-todo {
  background-color: hsl(235, 24%, 19%);
  height: 70px;
  margin-top: 50px;
  border-radius: 6px;
  display: flex;
}

.check {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%);
  cursor: pointer;
  transition: all 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-mark:hover {
  background: linear-gradient(135deg, #55ddff 100%);
}

.check-mark .fa-check {
  opacity: 0;
}
.checked .fa-check {
  font-weight: bold;
  opacity: 1;
  color: rgb(71, 80, 71);
}

/* 
.check-mark:hover img{
  opacity: 1;
  transition: ease-in-out .25s;
} */

.new-todo-input {
  flex-grow: 1;

  display: flex;
  align-items: center;
}
.new-todo-input form {
  flex-grow: 1;
}
.new-todo-input input {
  width: 100%;
  padding: 10px 0px;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  font-size: 18px;
}

.new-todo-input input::placeholder {
  color: hsl(233, 14%, 35%);
}

.todo-item {
  background-color: hsl(235, 24%, 19%);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 70px;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  color: hsl(234, 39%, 85%);
  font-size: 18px;
  transition: all 0.25s ease;
  display: flex;
  cursor: pointer;
  padding-right: 10px;
}
.left {
  display: flex;
  flex-grow: 1;
}

.right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid green; */
  opacity: 0;
}
.edit {
  margin-right: 20px;
}

.todo-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
  border-color: hsl(235, 24%, 19%);
}

.todo-item:hover .right {
  opacity: 1;
  transition: ease-in-out 0.25s;
}

.todo-text {
  display: flex;
  align-items: center;
  color: hsl(234, 39%, 85%);

  font-size: 18px;
}

.todo-text.checked input {
  color: rgb(71, 80, 71);
  text-decoration: line-through;
}

.left input {
  width: 100%;
  padding: 10px 0px;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  font-size: 16px;

  height: 100%;
}

.todo-items-wrapper {
  margin-top: 30px;
  background-color: hsl(235, 24%, 19%);
  border-bottom: 6px;
  overflow: hidden;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.4);
}

.todo-items-info {
  height: 70px;
  width: 100%;
  color: hsl(233, 14%, 35%);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;

  align-items: center;
}

.item-statuses {
  display: flex;
  justify-content: center;
}
.item-statuses span {
  padding: 0 5px;
  cursor: pointer;
}
.item-statuses span:hover,
.item-statuses span.active,
.items-clear:hover {
  color: hsl(220, 98%, 61%);
}
.items-clear {
  cursor: pointer;
  text-align: end;
}
